<footer class="py-20 border-t border-white/10 text-center text-white text-[11px] tracking-[0.8em] font-bold uppercase select-none leading-relaxed bg-black/50 backdrop-blur-md relative z-10 drop-shadow-[0_-5px_15px_rgba(0,0,0,0.5)]">
    ZENERGIA <br> MYCELIUM TECH-LAB <br>
    <span class="text-white/40 font-medium text-[9px]">BY</span> <br>
    <a href="https://github.com/jalkn/zenErgy" target="_blank" class="text-white font-black hover:text-white transition-all duration-500 hover:drop-shadow-[0_0_12px_rgba(255,255,255,1)] inline-block my-1 underline decoration-white/20 underline-offset-4">
        JALKO
    </a> <br>
    <span class="text-white/90">ANT_COL &bull; 2026</span>
</footer>