---
import Layout from '../layouts/Layout.astro';
import HeaderHud from '../components/HeaderHud.astro';
import TacticalDial from '../components/TacticalDial.astro';
import FooterHud from '../components/FooterHud.astro';
---
<Layout title="Zenergia Vault">
	<main class="min-h-screen flex flex-col justify-between p-4 relative overflow-hidden bg-[radial-gradient(circle_at_center,rgba(3,7,18,1)_0%,rgba(5,5,8,1)_100%)]">
		<HeaderHud />
		<div class="flex-1 flex items-center justify-center my-8 z-10">
			<TacticalDial />
		</div>
		<FooterHud />
	</main>
</Layout>
