---
---
<div id="artepanel-pack-container" class="my-auto relative w-[68vw] h-[68vw] sm:w-[58vw] sm:h-[58vw] md:w-[35vh] md:h-[35vh] max-w-[350px] max-h-[350px] min-w-[210px] min-h-[210px] aspect-square shrink-0 drop-shadow-[0_25px_55px_rgba(0,0,0,0.95)] transition-all duration-300">
  <div class="w-full h-full relative overflow-hidden rounded-md bg-transparent">
    
    <img id="artepanel-pack-img-back" src="/img/surface.png" alt="Back" class="img-glow-transition absolute inset-0 w-full h-full object-cover opacity-0 pointer-events-none z-0" />
    <img id="artepanel-pack-img" src="/img/surface.png" alt="Front" class="img-glow-transition absolute inset-0 w-full h-full object-cover pointer-events-auto z-10" />
    <img id="artepanel-pack-img-raw" src="/img/surface.png" alt="Raw" class="img-glow-transition absolute inset-0 w-full h-full object-cover opacity-0 pointer-events-none z-[5]" />
    
    <div class="absolute inset-0 flex items-center justify-center p-0 z-20 pointer-events-none">
        <svg id="laser-vector-target" viewBox="0 0 400 400" class="w-full h-full fill-none stroke-white/25 stroke-[1.2] transition-all duration-500 origin-center">
            <defs>
                <path id="textPath-top" d="M 65,200 A 135,135 0 0,1 335,200" />
                <path id="textPath-bottom" d="M 65,200 A 135,135 0 0,0 335,200" />
            </defs>
            <g class="origin-center">
                <path d="M 90,90 L 310,90 L 90,310 L 310,310 Z" class="opacity-15 stroke-[1]" />
                <path d="M 90,90 Q 200,125 310,90" class="opacity-15 stroke-[1]" />
                <path d="M 90,310 Q 200,275 310,310" stroke-dasharray="3 3" class="opacity-15 stroke-[1]" />
                
                <text id="z-dial" x="200" y="218" text-anchor="middle" class="fill-white font-black text-[45px] tracking-[0.35em] font-sans">8PU10</text>
            </g>
            <g id="laser-text-group" class="opacity-0 transition-opacity duration-500">
                <text class="fill-white font-black text-[10px] tracking-[0.25em] uppercase transition-all duration-500">
                    <textPath id="laser-variant-title" href="#textPath-top" startOffset="50%" text-anchor="middle">MACROPULSOR FOCUS</textPath>
                </text>
                <text class="fill-white/60 font-black text-[10px] tracking-[0.25em] uppercase transition-all duration-500">
                    <textPath id="artepanel-description" href="#textPath-bottom" startOffset="50%" text-anchor="middle">Enfoque y claridad cognitiva</textPath>
                </text>
            </g>
        </svg>
    </div>
  </div>
</div>

<style is:global>
  .img-glow-transition {
      transition: filter 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: filter, transform;
  }
</style>